.hello_fresh__wrapper {
    background: #F8F8F8;

}



.hello__fresh {
    gap: 30px;
    max-width: 1170px;
    height: 479px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

